POSTGRES_USER=admin
POSTGRES_PASSWORD=irctcpass
POSTGRES_DB=user_service_database
POSTGRES_PORT=5432
REDIS_PASSWORD=irctcpass
REDIS_PORT=8001
USER_SERVICE_PORT=4001
SEARCH_SERVICE_PORT=4002

ALLOWED_ORIGINS=http://localhost:4000,http://localhost:4001,http://localhost:4002
