PORT=4001
NODE_ENV=development
LOG_LEVEL=info

DATABASE_URL=postgres://admin:irctcpass@localhost:5432/user_service_database
REDIS_URL=redis://:irctcpass@localhost:6379
# KAFKA_BROKER=localhost:9093

ALLOWED_ORIGINS=http://localhost:4000,http://localhost:4001,http://localhost:4005

OTP_TTL=300
# OTP_HMAC_SECRET=your_otp_hmac_secret_here
OTP_HMAC_SECRET=your_otp_hmac_secret_here

OTP_RATE_MAX_PER_HOUR=5
OTP_MAX_VERIFY_ATTEMPTS=5
SENDGRID_API_KEY=your_sendgrid_api_key_here

# JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
# JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
ACCESS_TOKEN_EXP=15m
REFRESH_TOKEN_EXP=7d
ACCESS_TOKEN_EXP_SEC=900
REFRESH_TOKEN_EXP_SEC=604800
REDIS_USER_TTL=86400

INTERNAL_SERVICE_KEY=your_internal_service_key_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CLIENT_ID=your_google_client_id_here
